$theme-colors: (
  'primary': #406b19,
  'secondary': #b4c4a6,
  'danger': #dc3545,
  'light-gray': #f8f9fa,
  'gray': #dae0e5,
  'dark-gray': #bdc6d0
);

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-inactive {
  background-color: white;
  color: black;
  
  &:hover {
    background-color: map-get($theme-colors, 'gray');
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(black, 0.5);
  }
}

.btn-sidebar-inactive {
  background-color: map-get($theme-colors, 'light-gray');
  color: black;
  
  &:hover {
    background-color: map-get($theme-colors, 'gray');
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(black, 0.5);
  }
}

.dropdown-item:active {
  background-color: map-get($theme-colors, 'dark-gray');
}

.dropdown-toggle-hide {
  &::after {
    display: none;
  }
}
